<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js"></script>

  </head>


  <header>
    <h1>Cities#index</h1>
  </header>

  <body>
    <p>Find me in app/views/cities/index.html.erb</p>
    <h2>Hi</h2>

    <%= javascript_tag do %>

    <% end %>

    <script src="/assets/"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js"></script>
    <%= javascript_include_tag 'd3experiments.js' %>
  </body>
</html>
