<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">

  </head>

  <header>
    <h1>Cities#index</h1>
  </header>

  <body>
    <p>Find me in app/views/cities/index.html.erb</p>
    <h2>Hi</h2>

    <%= javascript_tag do %>
    <% end %>

  </body>
  <%= javascript_include_tag 'clickable_globe.js' %>
  <%= stylesheet_link_tag 'clickable_globe' %>
</html>
