<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
  </head>

  <header>
    <h1>World Data Correlator</h1>
    <p>View Country and City Travel Information World-Wide</p>
  </header>

  <body>
    <nav>
      <button id="zoom-in">+</button>
      <button id="zoom-out">-</button>
    </nav>

    <section class="globe-and-data-container">
      <nav id="globe_nav_container">
        <article id="city-list"></article>
      </nav>

      <section id="country_info_container">
        <h2>CountryInfo Below</h2>
        <article class="current-country-data"></article>
      </section>
    </section>

    <section id="city_info_container">
      <h2>CityName</h2>
      <p>CityInfo from NomadList</p>

      </div>

      <div id="donut-chart"></div>
      <div id="bar-chart"></div>
      <div id="bubble-chart"></div>
    </section>

    <%= javascript_tag do %>
    <% end %>

    <script src="//d3js.org/topojson.v1.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <%= javascript_include_tag "clickable_globe" %>
    <%= stylesheet_link_tag "clickable_globe" %>
  </body>
</html>
