<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="../../assets/stylesheets/cities.css">
  </head>


  <header>
    <h1>Cities#show</h1>

  </header>

  <body>
    <p>Find me in app/views/cities/show.html.erb</p>

    <h2>Hi</h2>

  </body>
</html>
