/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */



@font-face {
  src:
  local('BPmono'),
  local('BP-mono'),
  url('fonts/BPmono/BPmono.ttf')
  format('truetype');
  src:
  local('Hack Regular'),
  local('Hack-Regular'),
  url('fonts/hack/Hack-Regular.ttf')
  format('truetype');
}

#app-title, #country-name-title {
  font-family: 'Hack-Regular';
}

#app-title {
  font-size: 60px;
  margin: 30px auto 20px auto;
  color: #fff;
}

#country-name-title {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 10px;
  border-radius: 10px;
  color: orange;
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 30px;
}

body {
  font-family: 'Hack-Regular';
  /*background: #212121;*/
  background: url('./cracked-old-paper.jpg') no-repeat center center fixed;
  background-size: cover;
}
