/*// Place all the styles related to the cities controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/*/
@mixin containerDisplay {
  display: flex;
  -ms-align-items: center;
  align-items: center;
  justify-content: center;
}

@font-face {
  src:
  	local('BPmono'),
  	local('BP-mono'),
  	url('fonts/BPmono/BPmono.ttf')
  	format('truetype');
  src:
  	local('Hack Regular'),
  	local('Hack-Regular'),
  	url('fonts/hack/Hack-Regular.ttf')
  	format('truetype');
}

header {
  @include containerDisplay;
  margin: auto;
  flex-direction: column;
}

#app-title {
  font-size: 60px;
}

#tagline {
  font-size: 30px;
}

body {
  font-family: 'Hack-Regular';
  /*background: #212121;*/
  background: url('./cracked-old-paper.jpg') no-repeat center center fixed;
  background-size: cover;
}

// _________________________
.globe-and-data-container {
  display: flex;
  -ms-align-items: center;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  margin-top: 30px;
}

#globe_nav_container {
  margin: auto;

  /*width: 500px;
  height: 500px;*/
}

.current-country-data {
  // color: white;
}
// _________________________
#prim-country_info_container {
  @include containerDisplay;
  margin: auto;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 20px;
  width: 600px;
  height: 450px;
  padding: 20px;

  // filter: alpha(opacity=100); /* For IE8 and earlier */
}

#sec-country_info_container {
  @include containerDisplay;
  margin: auto;
  flex-direction: column;
  // background: white;
}

#donut-chart, #bar-chart, #bubble-chart {
  @include containerDisplay;
  margin: auto;
}

div.tooltip {
  color: #000;
  background-color: #f9d477;
  padding: .2em .4em;
  text-shadow: #f7eaca 0 1px 0;
  border-radius: 2px;
  opacity: 0.8;
  position: absolute;
}

textarea {
  overflow-y: scroll;
  height: 100px;
  // resize: none; /* Remove this if you want the user to resize the textarea */
}

.fill {
  /*width = 950,
  height = 700;*/
}

.stroke {
  /*width = 950,
  height = 700;*/
}

.map {
  /*float: left;*/
}

#sphere {
  /*display: block;*/
}

h1 {
  color: #fff;
}

p {
  color: #fff;
}

.stroke {
  fill: none;
  stroke: #000;
  stroke-width: 1px;
}

.fill {
  fill: #c2dbe8;
}

.graticule {
  fill: none;
  stroke: #777;
  stroke-width: .5px;
  stroke-opacity: .5;
}

.land {
  fill: darkgrey;
}

.boundary {
  fill: none;
  stroke: #fff;
  stroke-width: .5px;
}
