/*// Place all the styles related to the cities controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/*/

body {
  /*background: #212121;*/
  background: url('./nasa-outerspace.jpg') no-repeat center center fixed;
  background-size: cover;
}

#globe_container {
  /*width: 500px;
  height: 500px;*/
}

.fill {
  /*width = 950,
  height = 700;*/
}

.stroke {
  /*width = 950,
  height = 700;*/
}

h1 {
  color: yellow;
}

p {
  color: #fff;
}

.stroke {
  fill: none;
  stroke: #000;
  stroke-width: 1px;
}

.fill {
  fill: #c2dbe8;
}

.graticule {
  fill: none;
  stroke: #777;
  stroke-width: .5px;
  stroke-opacity: .5;
}

.land {
  fill: darkgrey;
}

.boundary {
  fill: none;
  stroke: #fff;
  stroke-width: .5px;
}
