/*// Place all the styles related to the cities controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/*/

@mixin containerDisplay {
  display: flex;
  -ms-align-items: center;
  align-items: center;
  justify-content: center;
}

header {
  @include containerDisplay;
  margin: auto;
  flex-direction: column;
}


.globe-and-data-container {
  display: flex;
  -ms-align-items: center;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  // margin-top: 30px;
}

#globe_nav_container {
  margin: auto;
  /*width: 500px;
  height: 500px;*/
}

#country_info_container {
  @include containerDisplay;
    margin: 0 20px;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 20px;
    width: 600px;
    height: 450px;
    padding: 20px;

    // filter: alpha(opacity=100); /* For IE8 and earlier */
  }

h3.current-country-data {
  font-size: 26px;
}

p.current-country-data {
  font-size: 16px;
  color: #000;
}


a:link, a:visited {
  color: tomato;
  // padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  // display: inline-block;
}

a:hover, a:active {
  color: #fff;
}

textarea {
  overflow-y: scroll;
  height: 100px;
  // resize: none; /* Remove this if you want the user to resize the textarea */
}


// #sec-country_info_container {
//   @include containerDisplay;
//   margin: auto;
//   flex-direction: column;
//   // background: white;
// }

#donut-chart, #bar-chart, #bubble-chart {
  @include containerDisplay;
  margin: auto;
}

div.tooltip {
  color: #000;
  background-color: #f9d477;
  padding: .2em .4em;
  text-shadow: #f7eaca 0 1px 0;
  border-radius: 2px;
  opacity: 0.8;
  position: absolute;
}

.fill {
  /*width = 950,
  height = 700;*/
}

.stroke {
  /*width = 950,
  height = 700;*/
}

.map {
  /*float: left;*/
}

#sphere {
  /*display: block;*/
}

h1 {
  // color: #fff;
}

p {
  // color: #fff;
}

.stroke {
  fill: none;
  stroke: #000;
  stroke-width: 1px;
}

.fill {
  fill: #c2dbe8;
}

.graticule {
  fill: none;
  stroke: #777;
  stroke-width: .5px;
  stroke-opacity: .5;
}

.land {
  fill: darkgrey;
}

.boundary {
  fill: none;
  stroke: #fff;
  stroke-width: .5px;
}
