/*// Place all the styles related to the cities controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/*/

body {
  background: #fcfcfa;
}

h1 {
  color: turquoise;
}

.stroke {
  fill: none;
  stroke: #000;
  stroke-width: 1px;
}

.fill {
  fill: #f2f2f2;
}

.graticule {
  fill: none;
  stroke: #777;
  stroke-width: .5px;
  stroke-opacity: .5;
}

.land {
  fill: darkgrey;
}

.boundary {
  fill: none;
  stroke: #fff;
  stroke-width: .5px;
}
