<!DOCTYPE html>
<html>
  <head>
    <title>RailsTemplate</title>
    <%= csrf_meta_tags %>
    <meta name="google-site-verification" content="o0frmMdj-pYEO9vBKAK9G50kTVxT15bD8nAdfEK4tUA" />

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
