<!DOCTYPE html>
<html>
  <head>
    <meta name="google-site-verification" content="o0frmMdj-pYEO9vBKAK9G50kTVxT15bD8nAdfEK4tUA" />
    <title>RailsTemplate</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
  </head>

  <body>
    <%= yield %>
  </body>
  <%= javascript_include_tag 'application' %>
</html>
